<!DOCTYPE html>
<html>
<head>
  <title>test post</title>
</head>
  <body>

      <form name="form1" method="POST" action="./completion">
        <table>
            <tr>
            <td>First name</td>
            <td><input type="text" name="fname" ></td>
            </tr>
            <tr>
            <td>last name</td>
            <td><input type="text" name="lname" ></td>
            </tr>
            <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
      </form>   

  </body>
</html>